@font-face {
	font-family: 'grotesque';
	font-style: normal;
	src: url('basis-grotesque-regular.ttf');
}

button {
    
    
    display:inline-block;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    background-color: white;
    text-align: center;
    font-size: 30px;
    
    font-family: 'grotesque';
    

  }
  

div.player {
    margin: 0 auto;
  }
  


h1 {
    color: white;
}

body {
    background-color: rgb(89,125,179);
    font-family: 'grotesque';
}