video::-webkit-media-controls {
    display:none !important;
  }


  @font-face {
	font-family: 'grotesque';
	font-style: normal;
	src: url('basis-grotesque-regular.ttf');
}


  

div.title {
    background-color: lightgray;
    font-size: x-large;
  }
  


h1 {
    color: white;
    font-size: xxx-large;
}

h2 {
    color: black;
}
h3 {
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
}
quote {
    color: white;
    font-size: x-large;
}

body {
    background-color: rgb(89,125,179);
    font-family: 'grotesque';
}

img{
    width: 150px;
    height: auto;
}

<style>
    /* style the elements with CSS */
    #pleaserotate-graphic{
        fill: #fff;
        background-color: rgb(89,125,179);
    }

    #pleaserotate-backdrop {
        color: #fff;
        background-color: rgb(89,125,179);
    }
</style>